# loop: means repeitition

- for

- while

- nested

- jump statement

range():it is  inbuilt function which generates the sequence of element.

In [1]:
range(4)

range(0, 4)

In [4]:
list(range(4)) # 4 is treated as end

[0, 1, 2, 3]

In [2]:
list(range(1,8))

[1, 2, 3, 4, 5, 6, 7]

In [3]:
list(range(2,8))

[2, 3, 4, 5, 6, 7]

In [4]:
list(range(2,10,2))  # 2 is the starting point,10 is the end and take end-1 value,2 is the steps size

[2, 4, 6, 8]

 # it is in reverse order, in the reverse order end will be end+1,in the reverse order increment must be given,it will be negative

In [1]:
list(range(10,0)) # increment is not given ,so it gives empty result

[]

In [8]:
list(range(10,0,-1)) # if the range is in reverse order we take the step by negative sign

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [7]:
list(range(10,0,-2))

[10, 8, 6, 4, 2]

In [7]:
list (range(50,20,-1))

[50,
 49,
 48,
 47,
 46,
 45,
 44,
 43,
 42,
 41,
 40,
 39,
 38,
 37,
 36,
 35,
 34,
 33,
 32,
 31,
 30,
 29,
 28,
 27,
 26,
 25,
 24,
 23,
 22,
 21]

# for loop

In [2]:
for i in range(1,10):
    print("hello",end =" ")

hello hello hello hello hello hello hello hello hello

# wap to display the sequence from 10 to 50

In [4]:
for i in range(10,51):
    print(i,end=" ")

10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50

 # wap to display the reverse sequence from 50 to 20

In [8]:
for i in range(50,19,-1):
    print(i,end=" ")

50 49 48 47 46 45 44 43 42 41 40 39 38 37 36 35 34 33 32 31 30 29 28 27 26 25 24 23 22 21 20

# wap to take the input from the user

In [11]:
start=int(input("enter the start "))
end=int(input("enter the end "))
for i in range(start,end+1):
    print(i,end=" ")

enter the start 20
enter the end 30
20 21 22 23 24 25 26 27 28 29 30

In [15]:
start=int(input("enter the start "))
end=int(input("enter the end "))
for i in range(start,end-1,-1):
    print(i,end=" ")

enter the start 50
enter the end 40
50 49 48 47 46 45 44 43 42 41 40

# wap to display the sequence of numbers in alternate manner.

In [2]:
start=int(input("enter the start "))
end=int(input("enter the end "))
for i in range(start,end+1,2):
    print(i,end=" ")

enter the start 4
enter the end 20
4 6 8 10 12 14 16 18 20

# wap to display this sequence: 6,11,16,21,26,31..51

In [24]:
for i in range(6,52,5):
    print(i,end=" ")

6 11 16 21 26 31 36 41 46 51

# wap to display this sequence: 1,4,9,16,25,36

In [3]:
for i in range(1,7):
    print(i*i,end=" ")

1 4 9 16 25 36

## wap to display all the even no and odd no from the range entered by the user

In [2]:
start=int(input("enter the start "))
end=int(input("enter the end "))
for i in range(start,end+1):
    if i%2==0:
        print(i,"is even")
    else:
        print(i,"is odd")

enter the start 2
enter the end 10
2 is even
3 is odd
4 is even
5 is odd
6 is even
7 is odd
8 is even
9 is odd
10 is even

 ## wap to display all the magic number if the number is divisible by 5 and 6,display normal number,if it is divisible by 5 only,only by 6 otherwise display bye from the range enterd by user

In [3]:
start=int(input("enter the start "))
end=int(input("enter the end "))
for i in range (start,end+1):
    if i%5==0 and i%6==0:
        print(i,"magic no.")
    elif i%5==0 or i%6==0:
        print(i,"normal no")
    else:
        print(i,"bye")

enter the start 56
enter the end 100
56 bye
57 bye
58 bye
59 bye
60 magic no.
61 bye
62 bye
63 bye
64 bye
65 normal no
66 normal no
67 bye
68 bye
69 bye
70 normal no
71 bye
72 normal no
73 bye
74 bye
75 normal no
76 bye
77 bye
78 normal no
79 bye
80 normal no
81 bye
82 bye
83 bye
84 normal no
85 normal no
86 bye
87 bye
88 bye
89 bye
90 magic no.
91 bye
92 bye
93 bye
94 bye
95 normal no
96 normal no
97 bye
98 bye
99 bye
100 normal no

# wap to count the even no and odd no between the range enterd by user

In [9]:
start=int(input("enter the start "))
end=int(input("enter the end "))
count_e=0
count_o=0
for i in range(start+1,end):
    if i%2==0:
        print(i,"is even")
        count_e=count_e+1
    else:
        print(i,"is odd")
        count_o=count_o+1
print("the even count_e is ",count_e)   
print("the even count_e is ",count_o)

enter the start 5
enter the end 25
6 is even
7 is odd
8 is even
9 is odd
10 is even
11 is odd
12 is even
13 is odd
14 is even
15 is odd
16 is even
17 is odd
18 is even
19 is odd
20 is even
21 is odd
22 is even
23 is odd
24 is even
the even count_e is  10
the even count_e is  9

 # wap to display the table of the number entered by user

In [1]:
num=int(input("enter the number "))
for i in range(1,11):
    print(num,"*",i,"=",num*i)

enter the number 5
5
10
15
20
25
30
35
40
45
50

# wap to display the table of the number entered by user in reverse manner

In [19]:
num=int(input("enter the number "))
for i in range(10,0,-1):
    print(num,"*",i,"=",num*i)

enter the number 5
5 * 10 = 50
5 * 9 = 45
5 * 8 = 40
5 * 7 = 35
5 * 6 = 30
5 * 5 = 25
5 * 4 = 20
5 * 3 = 15
5 * 2 = 10
5 * 1 = 5

# wap to dispLAY the factors of the number entered by user and also display the count of factors

In [1]:
num=int(input("enter the number "))
count=0
for i in range(1,num+1):
    if num%i==0:
        print(i,"is the factor of",num)
        count=count+1
print("the factors count of ",num,"is",count)

enter the number 45
1 is the factor of 45
3 is the factor of 45
5 is the factor of 45
9 is the factor of 45
15 is the factor of 45
45 is the factor of 45
the factors count of  45 is 6

# wap to display the  number is prime or composite

In [1]:
num=int(input("enter the number "))
count=0
for i in range(1,num+1):
    if num%i==0:
        print(i,"is the factor of",num)
        count=count+1
if count==2:
    print(num,"is prime")
else:
    print(num,"is composite")

enter the number 2
1 is the factor of 2
2 is the factor of 2
2 is prime

# for loop with transversal

- int-is not iterable
 - float
- complex
- boolean

- string- is iterable
- list
- tuple
- dict
-set
-particular columns in data

# wap to display the vowels or consonanats of ur name

In [21]:
s=input("enter the word ")
count_v=0
count_o=0
for i in s:
    if i in "aeiouAEIOU":
        print(i,"is vowel")
        count_v=count_v+1
    else:
        print(i,"is not vowel")
        count_o=count_o+1
print("the count of vowels ",count_v)
print("the count of others ",count_o)

enter the word sakshisaini
s is not vowel
a is vowel
k is not vowel
s is not vowel
h is not vowel
i is vowel
s is not vowel
a is vowel
i is vowel
n is not vowel
i is vowel
the count of vowels  5
the count of others  6

 # wap to count the number is even and odd numbers in list

In [24]:
l=[12,13,100,90,345]
count_e=0
count_o=0
for i in l:
    if i%2==0:
        count_e=count_e+1
    else:
        count_o=count_o+1
print("the even count is",count_e)        
print("the odd count is",count_o)

the even count is 3
the odd count is 2

# wap to display the sum of all the numbers present in the list

In [26]:
l=[10,2,35,6,7]
add=0
for i in l:
    add=add+i
print("the sum is ",add)

the sum is  60

# wap to sum and average of those numbers in the range entered by user

In [1]:
start= int(input("enter the start "))
end = int(input("enter the end "))
add=0 
count=0          
for i in range(start,end+1):
          add=add+i
          count=count+1
print("the sum is",add)
print("the count is ",count) 
average=add/count
print("the average ",average)

enter the start 10
enter the end 20
the sum is 165
the count is  11
the average  15.0

# wap to display the sum of even numbers and multiplication of odd numbers in the list or range

In [16]:
l=[2,3,45,98,32,56]
add=0
mult=1
for i in l:
    if i%2==0:
        print(i,"the number is even")
        add=add+i
    else:
        print(i,"the number is odd")
        mult=mult*i
print("the sum of even no. is ",add)
print("the multiplication of odd no is ",mult)

2 the number is even
3 the number is odd
45 the number is odd
98 the number is even
32 the number is even
56 the number is even
the sum of even no. is  188
the multiplication of odd no is  135