# nested loop
- for -for
- for -while
- while-for
- while-while

# wap to print the table of the numbers which lies in the range entered by user

In [3]:
start=int(input("enter the start "))
end=int(input("enter the end "))
for num in range(start,end+1):
    for i in range(1,11):
        print(num,"*",i,"=",num*i)
    print("-----------------------")

enter the start 2
enter the end 5
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20
-----------------------
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30
-----------------------
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40
-----------------------
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50
-----------------------

# wap to count the total vowels and consonants in the name of the lsit

In [6]:
names=["damini","avishek","chirag","sakshi","viral","tarun"]
count_v=0
count_c=0
for n in names:
    for ch in n:
        if ch in "aeiouAEIOU":
            count_v=count_v+1
        else:
            count_c=count_c+1
print("the vowels count is ",count_v)
print("the vowels count is",count_c)

the vowels count is  14
the vowels count is 21

# wap to count the vowels and consonants of eacch name in the given list

In [9]:
names=["damini","avishek","chirag","sakshi","viral","tarun"]
for n in names:
    count_v=0  # after doing the iteration on first name the count changes to zero again so that we dont maintain the many sounts variable
    count_c=0  
    for ch in n:
        if ch in "aeiouAEIOU":
            count_v=count_v+1
        else:
            count_c=count_c+1
    print("vowels in",n,count_v)
    print("consonants in",n,count_c)
    print("----------------------")

vowels in damini 3
consonants in damini 3
----------------------
vowels in avishek 3
consonants in avishek 4
----------------------
vowels in chirag 2
consonants in chirag 4
----------------------
vowels in sakshi 2
consonants in sakshi 4
----------------------
vowels in viral 2
consonants in viral 3
----------------------
vowels in tarun 2
consonants in tarun 3
----------------------

In [7]:
l=["c++","java","python","perl"]
for i in l:
    if "p" in i:
        print(i)

python
perl

# wap to check the prime number and composite number in then range

In [1]:
start=int(input("enter the start "))
end=int(input("enter the end "))
count_p=0
count_c=0
for num  in range(start,end+1):
    count=0
    for i in range(1,num+1):
        if num%i==0:
            count=count+1
    if count==2:
        print(num,"is prime")
        count_p=count_p+1
    else:
        print(num,"is composite")
        count_c=count_c+1
print("total prime is ",count_p)
print("total composite is ",count_c)

enter the start 1
enter the end 10
1 is composite
2 is prime
3 is prime
4 is composite
5 is prime
6 is composite
7 is prime
8 is composite
9 is composite
10 is composite
total prime is  4
total composite is  6

# pattern questions

In [ ]:
#####
#####
#####
#####
#####

In [13]:
for row in range(1,6):
    for cols in range(1,6):
        print("#",end="")
    print()

#####
#####
#####
#####
#####

# print this sequence 
11111
22222
33333
44444
55555

In [16]:
for row in range(1,6):
    for cols in range(1,6):
         print(row,end="")
    print()

11111
22222
33333
44444
55555

In [ ]:
for row in range(1,6):
    for cols in range(1,6):
        print(cols,end="")
    print()

# print this sequence 
aaaa
bbbb
cccc
dddd

In [22]:
asc=97
for row in range(1,5):
    for cols in range(1,5):
        print(chr(asc),end="")
    asc=asc+1    
    print()

aaaa
bbbb
cccc
dddd

In [23]:
asc=97
for row in range(1,5):
    for cols in range(1,5):
        print(chr(asc),end="")
        asc=asc+1    
    print()

abcd
efgh
ijkl
mnop

0101
0101
0101
0101

In [24]:
for rows in range(1,5):
    d=0
    for cols in range(1,5):
        print(d,end="")
        d=int(not(d))
    print()

0101
0101
0101
0101